@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bunn{
  width: Fixed (1,440px)px;
  height: Hug (44px)px;
  padding: 12px 16px 12px 16px;
  gap: 8px;
  opacity: 0px;
  background: #FC7A1D;
  justify-content: space-between;
  display: flex
}


.dot1{
  width: Hug (48px)px;
  height: Hug (8px)px;
  gap: 12px;
  opacity: 0px;
}

.dot2{
  width: Hug (48px)px;
  height: Hug (8px)px;
  gap: 12px;
  opacity: 0px;
}

.txtban{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.logup img{
  width: 100%;
}

.logbg{
  width: 100%;
  height: 563px;
  justify-content: space-between;
  display: flex;
  background-image: url('./img/Screenshot\ 2024-03-13\ at\ 11.09\ 1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.txtbg1{
  width: 360px;
  height: 38px;
  margin-top: 445px;
  margin-left: 112px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: -0.02em;
  text-align: left;
  text-decoration-skip-ink: none;
  color: white;
  font-weight: bold;
}

.txtbg2{
  display: flex;
  width: Hug (168px)px;
  height: Hug (20px)px;
  margin-top: 459px;
  margin-left: 1161px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.txtbg21{

  text-align: center;
  text-decoration-skip-ink: none;
  color: white;
  font-weight: bold;
}

.vecbg1{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}


.linebar{
  width: Fixed (1,440px)px;
  height: Hug (112px)px;
  padding: 40px 112px 40px 112px;
  gap: 40px;
  opacity: 0px;
  background-color: #FC7A1D;
}

.linelogo{
  justify-content: space-between;
  display: flex
}

.bsh{
  width: 100%;
  display: flex;
}

.bshl{
  width: 100%;
  flex: 1;
}

.bshl1{
  width: 100%;
  display: flex;
  margin-top: 126px;
  opacity: 0px;
  justify-content: center;
}

.bshr{

  background-image: url('./img/image\ 1.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

}

.bshltxt{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: center;
  text-decoration-skip-ink: none;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.b1{
  background-color: #FC7A1D;
  text-align: center;
}

.t1{
  font-family: fantasy;
}
.t2{
  color: aliceblue;
}


.q1{
  background-color: #E7E7E7;
}

.qq1{
  position: relative;
  left: 5%;
}

.we{
  margin-left: 24px;
}
.ww{
  font-size: 12px;
}
.wd{
  font-size: 12px;
  color: #A958FA;
}
.qqq{
  background-color: #F3F3F3;
  
}

.bg{
  background-color: #FC7A1D;
}